
@{
    ViewBag.Title = "Formularrio";
}

<h2>Formularrio</h2>
<h3>@ViewBag.Message</h3>
<form action="/home/Formularrio" method="post">

    <input type="number" name="edad" id="edad"/>
    <input type="submit"  value="enviar" />
</form>